# General
init-doc
log/
tmp/

# Build
bin/
dist/
*.out

# Python
venv
.venv
*pyc
*.egg-info/
__pycached__/
.mypy_cache

# C/C++
.tags
tags
*~
*.o
*.so
*.cmake
CMakeCache.txt
CMakeFiles/
cmake-build-debug/
compile_commands.json
.ccls

# Editors/IDE
.vim
*.swp

# Helm
Chart.lock
charts/

# Misc
.bundle
Gemfile.lock
*.plist
.cache
*.sqlite3
*.spec
