# General
init-doc
log/
tmp/

# Build
dist/

# Python
venv
.venv
*pyc
*.egg-info/
__pycached__/
.mypy_cache

# C/C++
.tags
tags
*~
*.o
*.so
*.cmake
CMakeCache.txt
CMakeFiles/
cmake-build-debug/
compile_commands.json
.ccls

# Editors/IDE
.vim
*.swp
.idea

# Misc
.bundle
Gemfile.lock
*.plist
.cache
