[user]
    name = Morteza NourelahiAlamdari
    email = m@0t1.me

[core]
    excludesfile = ~/.gitignore
    editor = nvim

[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    features = side-by-side line-numbers decorations
    whitespace-error-style = 22 reverse
    line-numbers = true
    side-by-side = true

[alias]
    tree = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
    del-local = branch -d
    del-all = branch -D
    show-files = diff-tree --no-commit-id --name-only -r

[push]
    default = current
