venv
.venv
.tags
tags
*pyc
dist/
*~
*.o
*.so
*.cmake
CMakeCache.txt
CMakeFiles/
cmake-build-debug/
*.egg-info/
*.swp
__pycached__/
.bundle
compile_commands.json
.ccls
Gemfile.lock
.mypy_cache
local.sh
.vim
